html {
    font-family: sans-serif;
}

body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    /* Agregado */
}

/*Barra de navegacion*/

.sidebar {
    width: 200px;
    height: 100%;
    background: linear-gradient(to bottom, #ad6a2b, #dc700b);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;/* Añadido */
    overflow-y: auto;/* Añadido */
}

.menu-sidebar {
    margin-top: 462px;
}

.menu-sidebar h1{
    color: black;
}

/* Nav */

header {
    height: 7vh;
    background-color: #faf3e8;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.menu_right {
    display: flex;
}

.log {
    width: 50px;
    height: 50px;
    margin-top: -5px;
    margin-left: 200px;
}

.logo {
    color: #ad6a2b;
    margin-left: 10px;
    margin-top: 16px;
}

.logo a{
    color: #ad6a2b;
}

.navbar_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list_item {
    list-style: none;
}

.list_link {
    padding: 40px;
    color: #0d152c;
    font-weight: 600;
}

.btn {
    border: none;
}

.btn a {
    padding: 10px 20px;
    color: #fff;
    background-color: #ad6a2b;
    border-radius: 30px;
}

.manage-btn a{
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #9c9c9c00;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 0px;
}

.manage-btn{
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #9c9c9c00;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 0px;
}

#submenu {
    display: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

#submenu li {
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.154);
    margin: 10px;
    text-align: center
}

body{
    background-color: #faf3e8;
}

#submenu li a {
    text-decoration: none;
    color: black;
}

#submenus {
    display: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

#submenus li {
    padding: 8px 16px;
    background-color: rgba(255, 255, 255, 0.154);
    margin: 10px;
    text-align: center;

}

#submenus li a {
    text-decoration: none;
    color: black;
}

.content {
    margin-left: 200px;
    padding: 15px;
    margin-top:15px;
}


img{
    width: 720px;
    float: left;
}

.bg-col{
    background: linear-gradient(to bottom, bisque, white);
    width: 20120px;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ad6a2b;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    border-radius: 4px;
}

.button {
    width: 105%;
    height: 45px;
    background: #ad6a2b;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.button:hover {
    background-color: #ad6a2b;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #ad6a2b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-box{
    width: 80%;
    padding: 40px;
}

.input-box{
    position: relative;
    width: 105%;
    height: 50px;
    border-bottom: 2px solid #ad6a2b;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(0%);
    font-size: 1em;
    color: #ad6a2b;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -15px;
}

.input-box input{
    width: 87.5%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #ad6a2b;
    margin-right: 3px;
}

.remember-forgot a{
    color: #ad6a2b;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.navbar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*#pie {
    height: 60px;
    line-height:50px;
    background-color: #ad6a2b;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:97.5%;
    margin-bottom: 0px;
}*/

#pie2{
    width: 50px;
    height: 50px;
    margin-top:-10px;
    display: flex;
}

.wrapper {
    
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #faf3e8;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ad6a2b;
}

footer {
    height: 60px;
    background-color: #ad6a2b;
    color: white;
    text-align: center;
    padding: 10px;
}