*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #faf3e8;
}

header{
    height: 100vh;
    background-color: #faf3e8;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.menu_right{
    display: flex;
}

.log{
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.logo{
    color: #ad6a2b;
    margin-left: 10px;
    margin-top: 16px;
}

.navbar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list_item{
    list-style: none;
}

.list_link{
    padding: 40px;
    color:#0d152c;
    font-weight: 600;
}

.btn{
    border: none;
}

.btn a{
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ad6a2b;
}

h1, h2 {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar {
    background-color: #fff;
    padding: 40px;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#confirmation {
    background-color: #fff;
    padding: 40px;
    width: 80%;
    height: 75%;
    border-radius: 5px;
    margin-left: 10%;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#confirmation h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#confirmation p {
    font-size: 18px;
}

#confirmation span {
    font-weight: bold;
}

#img-calendar {
    width: 70%;
    height: 70%;
    margin-left: 12%;
    background-size: cover;
    background-image: url('Imagenes/calendario.png');
}

.hidden {
    display: none;
}

.container_right {
    border-radius: 30px;
    width: 420px;
    height: 465px;
    background-color: #ad6a2b40;
}

#submitBtn {
    border: none;
    padding: 10px 10px;
    color: #fff;
    background-color: #ad6a2b;
    margin-top: 5%;
    border-radius: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_right{
    margin-right: 4%;
}

input[type="date"] {
    appearance: none;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    width: 210px;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: transparent;
    background-image: url('Imagenes/calendario.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-datetime-edit {
    padding: 0;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    width: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
    position: absolute;
    right: 0;
    height: auto;
    width: 20px;
    color: #888;
    cursor: pointer;
    padding: 0;
    }

input[type="date"]::-webkit-clear-button {
    appearance: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    background-image: url('Imagenes/cerrar-sesion.png');
    background-size: cover;
    cursor: pointer;
}

select {
    appearance: none;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    width: 210px;
    background-color: #fff;
    background-image: url('Imagenes/despertador.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
    text-align: center;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #ad6a2b;
    box-shadow: 0 0 5px #ad6a2b;
}

select option {
    background-color: #fff;
}

.navbar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pie {
    height: 60px;
    line-height:50px;
    background-color: #ad6a2b;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}

#pie2{
    width: 50px;
    height: 50px;
    margin-top:2px;
    display: flex;
}